# 環境変数
.env

# 依存関係
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# ビルド出力
dist/
build/
out/

# IDE/エディタ
.idea/
.vscode/
*.swp
*.swo

# OS生成ファイル
.DS_Store
Thumbs.db

# ログファイル
*.log

# Docker
.docker/ 